body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../public/Montserrat-Regular.ttf') format('truetype');
}
